#title {
  position:relative;
  margin:0 auto;
}

#title img  {
  position:absolute;
  left:0;
}

#bottom, #top{
      -webkit-transition: opacity 1.5s ease-in-out;
  -moz-transition: opacity 1.5s ease-in-out;
  -o-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;

}

#bottom {
    opacity: 0;
}

body {
    background: #fff url(data/Title-screen-bg.png) no-repeat center top; 
    /*background-color: black;*/
}